
<div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <h3>Se le ha enviado un codigo de validación a su correo y celular </h3>
            <form>
    <br>
                <div class="form-group">
                    <label for="resetPasswordEmail">Ingrese el codigo</label>
                    <input type="email"
                           class="form-control"
                           id="resetPasswordEmail"
                           placeholder="codigo de verificación">
                </div>
    
                <button type="submit"
                        class="btn btn-primary">Siguiente <i class="angle-double-right"name ="siguiente"></i></button>

                        <button type="submit"
                        class="btn btn-primary">Reenviar codigo <i class="angle-double-right" name ="reenviar"></i></button>
            </form>
        </div>
    </div>